h1 {
	color: #0224ff;
	font-size: 35px;
	background-color: #008800;
	text-decoration: underline;
	margin: 0 auto;
	width: 25%;
}
h2 {
	color: #ffd700;
	font-size: 22px;
	text-decoration: underline;
	background-color: #008800;
	margin: 0 auto;
}
body {
	text-align: center;
}
img {
	height: 200px;
	width: 150px;
	border: none;
	border-radius: 8px;
}
p {
	padding: 8px 0 8px 0;
	border: 8px 0 8px 0;
}
.board {
	height: 100%;
	width: 100%;
	display: inline-block;
	background-color: #008800;
}
.card {
	height: 200px;
	width: 150px;
	border: 3px solid black;
	border-radius: 12px;
	float: left;
	margin: 3em;
}
.name {
	font-family: helvetica;
	color: #22ff22;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}
nav {
	background-color: #808080;
}
nav a {
	background-color: #ffbf00;
	color: white;
	padding: 35px;
	display: block;
	float: left;
}
 nav a:hover {
	background-color: #ee5f3c;
}
footer {
	background-color: #808080;
}